body {
    background-color: #0E0B16;
    font-size: 100%;
}

#title {
    color: #E7DFDD;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 5em;
    font-weight:;
}

.title-section {
    color: #E7DFDD;
    margin-bottom: 50px;
}

.fa-bolt {
    color: #E7DFDD;
    margin-bottom: 10px;
    margin-top: 20px;
}

.tab-content {
    color: #E7DFDD;
    margin-top: 10px;
    font-size: 2.5em;
}


.buttons {
    float: right;
    margin-top: 50px;
    margin-right: 100px;
}

.text {
    color: #E7DFDD;
    margin-top: 50px;
    margin-bottom: 30px;
    display: none;
}

.credits {
    color: #E7DFDD;
    font-size: 1.5em;
    margin-top: 100px;
}

#weatherIcon {
	height: 5em;
	width: 5em;
}
